/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Geometria-Medium", sans-serif;
}

html {
  font-size: 10px;
}

h1 {
  font-size: 4.8rem;
  font-style: normal;
  font-weight: bold;
  line-height: 6rem;
  margin: 0;
  text-transform: uppercase;
  font-family: "Geometria-ExtraBold", sans-serif;
  color: #82B428;
}
@media (max-width: 414px) {
  h1 {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: bold;
    line-height: 3rem;
  }
}

h2 {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: bold;
  line-height: 4.5rem;
  margin: 0;
  text-transform: uppercase;
  font-family: "Geometria-ExtraBold", sans-serif;
  color: #82B428;
}
@media (max-width: 414px) {
  h2 {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: bold;
    line-height: 3rem;
  }
}

p {
  margin: 0;
}

.button {
  padding: 11px 21px 13px 22px;
  cursor: pointer;
  font-family: "Geometria-Medium", sans-serif;
  font-style: normal;
  text-align: center;
  border-right: 4px;
  transition: all 0.3s;
  font-weight: 500;
  color: #FFFFFF;
  border: none;
  font-size: 2rem;
  line-height: 3rem;
}
.button_headered {
  background: linear-gradient(34.66deg, #BC1822 16.88%, #E53322 76%);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border: none;
}
.button_headered:hover {
  background: #8CD0E5;
  border-color: #8CD0E5;
}
.button_green {
  background: linear-gradient(34.66deg, #82B428 16.88%, #C5D210 76%);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border: none;
  padding: 11px 14px 13px 14px;
  color: #FFFFFF;
}
.button_green:hover {
  background: #8CD0E5;
  border-color: #8CD0E5;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  background-image: url("../assets/background.jpg");
  background-size: 1920px 961px;
  background-repeat: no-repeat;
  padding-bottom: 172px;
  padding-top: 125px;
  position: relative;
  height: 961px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.medium-circle {
  position: absolute;
  left: 50%;
  top: 8%;
  z-index: 1;
  width: 268px;
  height: 268px;
  border-radius: 100%;
  background: linear-gradient(147.64deg, #C5D210 13.56%, #82B428 85.54%);
}

.small-circle {
  position: absolute;
  left: 65%;
  top: 35%;
  width: 105px;
  height: 105px;
  border-radius: 100%;
  background: linear-gradient(147.64deg, #8DCEED 13.56%, #2DA3DC 85.54%);
}

.header__logo-circle {
  margin-left: 263px;
  padding-left: 145px;
  padding-top: 105px;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  width: 664px;
  height: 664px;
  background: linear-gradient(147.64deg, #FFFFFF 13.56%, #F1F1F1 85.54%);
}

.header__logo {
  margin-bottom: 35px;
}

.header__title {
  margin-bottom: 25px;
}

.header__description {
  margin-bottom: 21px;
}

.description {
  font-family: "Geometria", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 110%;
  color: #2B2422;
  width: 403px;
}

.header__buttons {
  margin-bottom: 78px;
}

.footer {
  background: #2DA3DC;
  padding-bottom: 52px;
}

.footer__logo {
  margin-top: 65px;
}

.footer__icons {
  margin-top: 58px;
  margin-left: 110px;
}

.ico {
  margin-right: 23px;
}

.tel {
  font-family: "Geometria-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 2.7rem;
  color: #FFFFFF;
  margin-bottom: 42px;
}

.contacts__tel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.creator {
  margin-bottom: 38px;
}

.creator span {
  font-family: "Geometria-Light", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 0px;
  text-align: center;
  color: #FFFFFF;
}

.politician {
  font-family: "Geometria-Light", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
  color: #FFFFFF;
}

.logo__bridge {
  margin-top: 63px;
}

.layout-two-column {
  display: flex;
  justify-content: space-between;
}
.layout-two-column > * {
  flex-basis: 48%;
}

.layout-three-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.layout-three-column > * {
  flex-basis: 30%;
}
.layout-three-column:after {
  content: "";
  width: 30%;
  display: block;
}

.layout-two-other-column {
  display: flex;
  justify-content: space-between;
}
.layout-two-other-column > * {
  flex-basis: 25%;
}

.layout-three-half-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.layout-three-half-column > * {
  flex-basis: 25%;
}

.layout-two-half-column {
  display: flex;
  flex-wrap: nowrap;
}
.layout-two-half-column > * {
  flex-basis: 25%;
}

.promo {
  padding-top: 103px;
  padding-bottom: 104px;
}

.promo__content {
  padding-right: 56px;
}

.promo__title {
  margin-bottom: 40px;
}

.promo__text,
.promo__add-text {
  font-family: "Geometria", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 120%;
  color: #2B2422;
  margin-bottom: 40px;
}

.promo__add-text {
  margin-bottom: 0;
}

.info__city {
  padding-bottom: 110px;
}

.info__title {
  color: #2DA3DC;
  margin-bottom: 50px;
}

.info-layout > * {
  margin-bottom: 30px;
}

.city-description {
  position: relative;
  cursor: pointer;
}

.description__text {
  display: block;
  padding: 76px 25px 32px 28px;
  font-family: "Geometria-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 100%;
  color: #FFFFFF;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background-blend-mode: multiply;
  border-radius: 0px 0px 10px 10px;
  width: 350px;
  top: 44%;
}

.three-layer {
  top: 36%;
}

.sport-text {
  top: 44%;
  padding-right: 84px;
}

.info-invisible {
  display: none;
}

.visible {
  display: block;
}

.slider__title {
  margin-bottom: 60px;
  width: 343px;
}

.slider__content {
  background: #FFFFFF;
  border: 1px solid #C5C5C5;
  box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 547px;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.slider__wrapper {
  position: relative;
}

.slider__content > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__image {
  border-radius: 20px 0px 0px 20px;
}

.image__scheme {
  margin-top: 70px;
}

.description__flat {
  margin-top: 82px;
}

.description-title {
  font-family: "Geometria-ExtraBold", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 3rem;
  color: #2B2422;
  margin-bottom: 37px;
}

.description__about__text {
  width: 308px;
  font-family: "Geometria-Light", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.3rem;
  color: #000000;
  margin-bottom: 23px;
}

.button__description {
  width: 241px;
  margin-bottom: 21px;
}

.button__flat {
  padding: 11px 22px 13px 24px;
  font-family: "Geometria-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  color: #FFFFFF;
}

.text-add {
  margin-bottom: 13px;
}

.text-add span {
  font-family: "Geometria-Light", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.3rem;
  color: #000000;
  margin-left: 43px;
}

.layout--info {
  border-bottom: 0.5px solid #000000;
}

.photo-light {
  border-radius: 20px 0px 0px 20px;
}

.price__flat {
  margin-top: 25px;
}

.description-price,
.square__description span {
  font-family: "Geometria-Light", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.3rem;
  color: #2B2422;
}

.flat__text {
  margin-left: 43px;
}

.price__total {
  margin-top: 2px;
  margin-left: 43px;
}

.price__text {
  font-family: "Geometria-ExtraBold", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2.2rem;
  line-height: 2.8rem;
  color: #2B2422;
}

.square__description {
  margin-top: 25px;
  margin-bottom: 1px;
}

.square__text {
  margin-right: 42px;
}

.section__text {
  margin-right: 42px;
}

.square__meter span {
  font-family: "Geometria-ExtraBold", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2.2rem;
  line-height: 2.8rem;
  color: #2B2422;
}

.square__number {
  margin-right: 42px;
}

.square__number_last {
  margin-left: 42px;
}

.slider-content {
  max-width: 1140px;
  height: 547px;
  margin: 0 auto;
  position: relative;
  box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  overflow: hidden;
}

.dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  margin-top: 61px;
  margin-bottom: 60px;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #2DA3DC;
  opacity: 1;
}

.planned-flat {
  padding-top: 150px;
}

.planned_flat {
  margin-bottom: 21px;
  position: relative;
}

.planned__text span {
  display: block;
  padding: 77px 84px 31px 28px;
  position: absolute;
  font-family: "Geometria-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 100%;
  color: #FFFFFF;
  top: 44%;
  background: linear-gradient(180deg, rgba(100, 104, 101, 0) 16.67%, #646865 100%);
  background-blend-mode: multiply;
  border-radius: 0px 0px 10px 10px;
}

.high-text-plan span {
  top: 53%;
  display: block;
  padding: 77px 84px 31px 28px;
  position: absolute;
  font-family: "Geometria-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 100%;
  color: #FFFFFF;
  background: linear-gradient(180deg, rgba(100, 104, 101, 0) 16.67%, #646865 100%);
  background-blend-mode: multiply;
  border-radius: 0px 0px 10px 10px;
}

.high-text {
  width: 238px;
}

.planned__text h2 {
  color: #646865;
  position: absolute;
  width: 284px;
  left: 70%;
  top: 30%;
}

.button-show {
  position: absolute;
  left: 70%;
  top: 70%;
  width: 254px;
  max-width: 254px;
  font-family: "Geometria-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}

.shadow__text {
  width: 350px;
}

.city-details {
  padding-top: 80px;
}

.city-details__title {
  margin-bottom: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-title {
  color: #2DA3DC;
  width: 644px;
  text-align: center;
}

.image__details {
  position: relative;
}

.details__text {
  display: block;
  padding: 76px 25px 32px 28px;
  font-family: "Geometria-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 100%;
  color: #FFFFFF;
  position: absolute;
  top: 44%;
}

.more-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-details a {
  font-family: "Geometria-ExtraBold", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 100%;
  text-align: center;
  color: #C5C5C5;
  text-decoration: none;
}

.layout__details > * {
  margin-bottom: 30px;
}

.details-shadow {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background-blend-mode: multiply;
  border-radius: 0px 0px 10px 10px;
}

.details__flat {
  top: 53%;
}

.details__owners {
  width: 415px;
  top: 53%;
}

.details__owners-window {
  width: 415px;
  top: 45%;
}

.details__block {
  width: 350px;
  top: 45%;
}

.details__storage {
  width: 286px;
  top: 53%;
}

.details__water {
  width: 350px;
  top: 53%;
}

.details__wait {
  width: 415px;
  top: 45%;
}

.details__store {
  width: 286px;
  top: 53%;
}

.discounts {
  padding-top: 100px;
  background-image: url("../assets/family.jpg");
  background-size: 1920px 473px;
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-bottom: 69px;
}

.discount__title h2 {
  color: #2DA3DC;
  width: 387px;
  margin-bottom: 34px;
}

.discount__text p {
  font-family: "Geometria", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 120%;
  color: #2B2422;
  margin-bottom: 46px;
  width: 442px;
}

.button__application {
  padding: 11px 41px 13px 22px;
  font-family: "Geometria-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
  color: #FFFFFF;
}

.moveto {
  padding-top: 100px;
}

.moveto__title h2 {
  color: #2DA3DC;
  width: 387px;
  margin-bottom: 40px;
}

.moveto__text p {
  font-family: "Geometria", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 120%;
  color: #2B2422;
  margin-bottom: 46px;
  width: 415px;
}

.first__column {
  padding-right: 59px;
}

.contacts {
  background-image: url("../assets/contacts.jpg");
  background-size: 1920px 388px;
  background-repeat: no-repeat;
  background-position: right top;
}

.contacts__shadow {
  background: linear-gradient(90deg, #212121 3.84%, rgba(12, 12, 12, 0.359375) 74.98%, rgba(0, 0, 0, 0) 100%);
  background-blend-mode: multiply;
  height: 388px;
}

.contacts__title h2 {
  width: 401px;
  margin-bottom: 32px;
  margin-top: 87px;
}

.contacts__text p {
  font-family: "Geometria", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 90px;
  width: 411px;
}

.first_contact {
  padding-right: 148px;
}

.second__contact {
  margin-top: 102px;
}

.form input {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  display: block;
  width: 562px;
  height: 62px;
  margin-bottom: 11px;
  font-family: "Geometria-Light", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 110%;
}

::placeholder {
  color: #C4C4C4;
  padding: 18px 0 20px 29px;
}

.button-submit {
  padding: 11px 21px 13px 22px;
  width: 275px;
  height: 51px;
  font-family: "Geometria-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  color: #FFFFFF;
  margin-top: 12px;
}

.button__contacts {
  margin-left: 280px;
}

@font-face {
  font-family: "Geometria";
  font-style: normal;
  font-weight: normal;
  src: local("Geometria"), url("../fonts/Geometria.woff") format("woff");
}
@font-face {
  font-family: "Geometria-Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Geometria-Italic"), url("../fonts/Geometria-Italic.woff") format("woff");
}
@font-face {
  font-family: "Geometria-Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Geometria-Thin"), url("../fonts/Geometria-Thin.woff") format("woff");
}
@font-face {
  font-family: "Geometria-ThinItalic";
  font-style: normal;
  font-weight: normal;
  src: local("Geometria-ThinItalic"), url("../fonts/Geometria-ThinItalic.woff") format("woff");
}
@font-face {
  font-family: "Geometria-ExtraLight";
  font-style: normal;
  font-weight: normal;
  src: local("Geometria-ExtraLight"), url("../fonts/Geometria-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Geometria-ExtraLightItalic";
  font-style: normal;
  font-weight: normal;
  src: local("Geometria-ExtraLightItalic"), url("../fonts/Geometria-ExtraLightItalic.woff") format("woff");
}
@font-face {
  font-family: "Geometria-Light";
  font-style: normal;
  font-weight: normal;
  src: local("Geometria-Light"), url("../fonts/Geometria-Light.woff") format("woff");
}
@font-face {
  font-family: "Geometria-LightItalic";
  font-style: normal;
  font-weight: normal;
  src: local("Geometria-LightItalic"), url("../fonts/Geometria-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "Geometria-Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Geometria-Medium"), url("../fonts/Geometria-Medium.woff") format("woff");
}
@font-face {
  font-family: "Geometria-MediumItalic";
  font-style: normal;
  font-weight: normal;
  src: local("Geometria-MediumItalic"), url("../fonts/Geometria-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "Geometria-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Geometria-Bold"), url("../fonts/Geometria-Bold.woff") format("woff");
}
@font-face {
  font-family: "Geometria-BoldItalic";
  font-style: normal;
  font-weight: normal;
  src: local("Geometria-BoldItalic"), url("../fonts/Geometria-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Geometria-ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: local("Geometria-ExtraBold"), url("../fonts/Geometria-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Geometria-ExtraBoldItalic";
  font-style: normal;
  font-weight: normal;
  src: local("Geometria-ExtraBoldItalic"), url("../fonts/Geometria-ExtraBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Geometria-Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Geometria-Heavy"), url("../fonts/Geometria-Heavy.woff") format("woff");
}
@font-face {
  font-family: "Geometria-HeavyItalic";
  font-style: normal;
  font-weight: normal;
  src: local("Geometria-HeavyItalic"), url("../fonts/Geometria-HeavyItalic.woff") format("woff");
}

/*# sourceMappingURL=style.css.map */
