$color-heading: #82B428;
$color-text: #2B2422;
$color-additional: #2DA3DC;
$color-description: #FFFFFF;
$color-black: #2B2422;
$color-background: #646865;
$color-link: #C5C5C5;
$color-popup: #C4C4C4;

$color-hovered: #8CD0E5;




$content-width: 1110px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;