.moveto {
  padding-top: 100px;
}
.moveto__title h2 {
  color: $color-additional;
  width: 387px;
  margin-bottom: 40px;
  @include media-mobile {
    width: 256px;
  }
}
.moveto__text p {
  font-family: "Geometria", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 120%;
  color: #2B2422;
  margin-bottom: 46px;
  width: 415px;
  @include media-mobile {
    width: 266px;
  }
}
.first__column {
  padding-right: 59px;
}
.second__column img {
  @include media-mobile {
    width: 100vw;
    padding-left: 0;
    padding-bottom: 42px;
  }
}