.moveto {
  padding-top: 100px;
}
.moveto__title h2 {
  color: $color-additional;
  width: 387px;
  margin-bottom: 40px;
}
.moveto__text p {
  font-family: "Geometria", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 120%;
  color: #2B2422;
  margin-bottom: 46px;
  width: 415px;
}
.first__column {
  padding-right: 59px;
}